:root {
  --color-secondary: #33ccad;
  --width-content: 960px;
}

#main-nav {
  margin-bottom: 0;
}

#main-logo {
  width: 150px;
}

section {
  flex-direction: column;
}

footer, header, main {
  padding-top: 0;
}